# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env*
firebase-credentials.json
# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/

# ADK
.adk/

# Logs
*.log

#Mac thing
.DS_Store

#rules
*.rules